*,
*::before,
*::after {
    box-sizing: border-box;
}

.body {
    font-family: Arial, sans-serif;
    margin: 70px;
    padding: 0;
    max-width: 1200px;
 
}

@media (max-width: 500px) {

    .body {



        margin: 0px;
    }}