.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;


    align-content: center;
    align-items: center;

    justify-content: center;
    font-size: 20px;

    margin: 10px;
    border: 1px solid #000;
    border-radius: 12px;
    max-width: 1200px;




}



.form--date {
    grid-template-columns: 1fr;

    place-items: center;
    border: none;



}

.form--trainingName {
    display: grid;
    grid-template-columns: 1fr;

    border: none;
    font-size: 20px;
    align-content: center;




}

.form--timeTraining {
    grid-template-columns: auto 1fr;

    border: none;
    align-items: center;
    align-content: center;


}

.clock-icon {
    display: grid;
    color: red;
    align-content: center;
    margin-right: 1px;


}

.fa-map-marker-alt {
    color: red;
    margin-right: 1px;
    align-content: center;
    align-items: center;
}

.form--placeTraining {
    grid-template-columns: auto 1fr;
    border: none;
    align-content: center;
}

.form--training {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    border: none;


}

.form--introduction {

    gap: 1px;
    border: none;
    color: rgb(255, 0, 0);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;



}



.form--exam {

    gap: 1px;
    border: none;
    color: red;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}


.form__paragraf {
    font-size: 14px;
    margin: 2px;


}

.form__paragraf--timeTraining {
    font-size: 12px;
    margin: 2px;
    grid-column: 2;
    align-content: center;



}


.form__paragraf--day {
    font-size: 20px;
    align-content: center;


}

.form__paragraf--dayName {
    color: red;
}

.form__button {
    display: grid;
    background-color: rgb(27, 180, 245);

    padding: 8px 10px;
    align-content: center;
    align-self: center;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: white;



}

.form__button:hover {
    background-color: rgb(15, 124, 171);



}