/* Style dla nagłówka h1 */
h1 {
    color: #333;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Style dla nagłówka h2 */
  h2 {
    color: #007bff;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  /* Style dla nagłówka h3 */
  h3 {
    color: #555;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  /* Style dla nagłówka h4 */
  h4 {
    color: #333;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Style dla nagłówka h5 */
  h5 {
    color: #777;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Style dla nagłówka h6 */
  h6 {
    color: #888;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  