.section {}

.section--top {

    display: grid;
    grid-template-columns: 1fr auto;
    margin-bottom: 40px;
    font-size: 30px;

}




.section--menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section--images {
    max-width: 100%;
    height: 30vh;

    background-size: cover;

    resize: both;
    background-position: center;
    background-image: url("../images/1.jpg");
}



.section__header {
    background-color: #ffffff;
    color: #0c0b0b;
    padding: 10px;
    text-align: center;

}

.section__footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.section__paragraf {
    font-size: 18px;
}